<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagerEntities" connectionString="metadata=res://*/ProjectManagerModel.csdl|res://*/ProjectManagerModel.ssdl|res://*/ProjectManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9V4E8FP\MSSQLSERVER_1;initial catalog=Employee;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>